@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-tall-poppy-50: #fdf4f3;
	--color-tall-poppy-100: #fbe6e5;
	--color-tall-poppy-200: #f9d1cf;
	--color-tall-poppy-300: #f4b1ad;
	--color-tall-poppy-400: #ec837d;
	--color-tall-poppy-500: #e05b53;
	--color-tall-poppy-600: #cc3f36;
	--color-tall-poppy-700: #b7352d;
	--color-tall-poppy-800: #8e2c26;
	--color-tall-poppy-900: #762b26;
	--color-tall-poppy-950: #40120f;

	--color-zen-red-50: #f9f6f3;
	--color-zen-red-100: #f1eae3;
	--color-zen-red-200: #e4d4c8;
	--color-zen-red-300: #d0b4a1;
	--color-zen-red-400: #bd917a;
	--color-zen-red-500: #af7860;
	--color-zen-red-600: #a26654;
	--color-zen-red-700: #875347;
	--color-zen-red-800: #6e453e;
	--color-zen-red-900: #5a3a34;
	--color-zen-red-950: #2f1d1b;

	--color-zen-green-50: #f7f8f5;
	--color-zen-green-100: #ecf1e7;
	--color-zen-green-200: #d9e2d0;
	--color-zen-green-300: #c4d2b8;
	--color-zen-green-400: #92aa7e;
	--color-zen-green-500: #718b5c;
	--color-zen-green-600: #5b7148;
	--color-zen-green-700: #495a3b;
	--color-zen-green-800: #3c4932;
	--color-zen-green-900: #323d2a;
	--color-zen-green-950: #181f14;

	--color-zen-blue-50: #f4f7fa;
	--color-zen-blue-100: #e6ecf3;
	--color-zen-blue-200: #d3dfeb;
	--color-zen-blue-300: #b3c9dd;
	--color-zen-blue-400: #8fadcb;
	--color-zen-blue-500: #7494bd;
	--color-zen-blue-600: #627eae;
	--color-zen-blue-700: #566d9f;
	--color-zen-blue-800: #4a5b83;
	--color-zen-blue-900: #3f4c69;
	--color-zen-blue-950: #2a3141;

	--color-zen-bronze-50: #f6f5f0;
	--color-zen-bronze-100: #e8e7d9;
	--color-zen-bronze-200: #dbd8c2;
	--color-zen-bronze-300: #bab28a;
	--color-zen-bronze-400: #a69a69;
	--color-zen-bronze-500: #97885b;
	--color-zen-bronze-600: #81704d;
	--color-zen-bronze-700: #685840;
	--color-zen-bronze-800: #594a3a;
	--color-zen-bronze-900: #4e4135;
	--color-zen-bronze-950: #2c231c;
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
