@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@layer components {
	.slim {
		/* Colors */
		--ss-primary-color: var(--color-blue-500);
		--ss-bg-color: var(--color-white);
		--ss-font-color: var(--color-gray-800);
		--ss-border-color: var(--color-gray-400);
		--ss-disabled-color: var(--color-gray-200);

		/* Heights */
		--ss-main-height: 40px;
		--ss-search-height: 40px;
		--ss-option-height: auto;
		--ss-content-height: 300px;

		/* Spacing */
		--ss-spacing-l: 9px;
		--ss-spacing-m: 7px;
		--ss-spacing-s: 5px;

		/* Other Properties */
		--ss-border-radius: 4px;
		--ss-animation-timing: 0.2s;

		@variant dark {
			/* Colors */
			--ss-primary-color: var(--color-blue-500);
			--ss-bg-color: var(--color-gray-800);
			--ss-font-color: var(--color-gray-200);
			--ss-border-color: var(--color-gray-600);
			--ss-disabled-color: var(--color-gray-700);
		}
	}

	.ss-main .ss-values .ss-single {
		overflow-wrap: anywhere;
	}

	.ss-single {
		width: 200px;
	}
}
